%div(ng-controller="expensesController" ng-init="table.filterExpenses()")
  %form.row(ng-submit="table.filterExpenses()")
    .col.col-md-3
      .form-group(my-input="ID" my-input-icon="th-list")
        %input.form-control(type="text" ng-model="filters.id")

      .form-group
        %label &nbsp;
        .input-group
          %button(my-button="Filter List" my-button-icon="filter" my-button-color="primary" style="margin-right: 10px;")

          %a(my-button="New Expense" my-button-icon="plus" my-button-color="success" ng-click="table.newExpense()" data-toggle="modal" data-target="#expense-modal")

    .col.col-md-3
      .form-group(my-input="Description" my-input-icon="info-sign")
        %input.form-control(type="text" ng-model="filters.description")

      .form-group(my-input="Comment" my-input-icon="comment")
        %input.form-control(type="text" ng-model="filters.comment")

    .col.col-md-3
      .form-group(my-input="Expensed At From" my-input-icon="calendar")
        %input.form-control(type="text" ng-model="filters.expensed_at__gte")

      .form-group(my-input="Amount From" my-input-icon="usd")
        %input.form-control(type="text" ng-model="filters.amount__gte")

    .col.col-md-3
      .form-group(my-input="Expensed At Until" my-input-icon="calendar")
        %input.form-control(type="text" ng-model="filters.expensed_at__lte")

      .form-group(my-input="Amount Until" my-input-icon="usd")
        %input.form-control(type="text" ng-model="filters.amount__lte")

  .row.border-bottom
    .col.col-md-12

  .row
    .col.col-md-12
      %table.table.table-hover
        %thead
          %tr
            %th(style="width: 50px;") ID
            %th(style="width: 175px;") Expensed At
            %th(style="width: 300px;") Description
            %th Comment
            %th(style="width: 100px;") Amount

        %tbody
          %tr.cursor-pointer(data-toggle="modal" data-target="#expense-modal" ng-repeat="expense in table.expenses" ng-click="table.editExpense(expense, $index)")
            %td(ng-bind="expense.id")
            %td(ng-bind="expense.expensed_at | date: 'MM/dd/yyyy h:mm a'")
            %td(ng-bind="expense.description")
            %td(ng-bind="expense.comment")
            %td(ng-bind="expense.amount")

  #expense-modal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog
      %form.modal-content(ng-submit="modal.saveExpense()")
        .modal-header
          %a.close(data-dismiss="modal") &times;
          %h4.modal-title Expense

        .modal-body
          .form-group(my-input="Expensed" my-input-icon="calendar")
            %input.form-control(type="text" ng-model="modal.expense.expensed_at")

          .form-group(my-input="Description" my-input-icon="info-sign")
            %input.form-control(type="text" placeholder="e.g. Coffee at Dunkin Donuts" ng-model="modal.expense.description")

          .form-group(my-input="Amount" my-input-icon="usd")
            %input.form-control(type="text" ng-model="modal.expense.amount")

          .form-group(my-input="Comment" my-input-icon="comment")
            %input.form-control(type="text" placeholder="e.g. Needed caffeine before meeting" ng-model="modal.expense.comment")

        .modal-footer
          %a(my-button="Close" my-button-icon="remove" data-dismiss="modal")

          %button(my-button="Save" my-button-icon="cloud-upload" my-button-color="success")

          %a(my-button="Delete" my-button-icon="trash" my-button-color="danger" ng-hide="modal.isNew" ng-click="modal.deleteExpense(modal.index)" data-dismiss="modal")
