//= require font-awesome/font-awesome

@import "bootstrap";
@import "bootstrap-sprockets";
@import 'bootstrap-datetimepicker';

//= require_tree .
//= require_self

body {
  padding-top: 70px;
}

.cursor-pointer {
  cursor: pointer;
}

.display-inline {
  display: inline;
}

.full-width {
  width: 100%;
}

.border-bottom {
  padding-bottom: 9px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #eee;
}

.bs-callout
{
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 20px 0;
  padding: 20px;
}
.bs-callout h2
{
  margin-bottom: 5px;
  margin-top: 0;
}
.bs-callout p:last-child
{
  margin-bottom: 0;
}
.bs-callout code
{
  border-radius: 3px;
}
.bs-callout+.bs-callout
{
  margin-top: -5px;
}
.bs-callout-danger
{
  border-left-color: #d9534f;
}
.bs-callout-danger h2
{
  color: #d9534f;
}
.bs-callout-warning
{
  border-left-color: #f0ad4e;
}
.bs-callout-warning h2
{
  color: #f0ad4e;
}
.bs-callout-info
{
  border-left-color: #5bc0de;
}
.bs-callout-info h2
{
  color: #5bc0de;
}
