%div(ng-controller="ExpensesController" ng-init="table.filterExpenses()")
  %form.row(ng-submit="table.filterExpenses()")
    .col.col-md-3
      %my-input(data-label="ID" data-icon="th-list")
        %input(type="text" ng-model="filters.id")

      .form-group
        %label &nbsp;
        .input-group
          %button.my-button(data-label="Filter List" data-icon="filter" data-color="primary" style="margin-right: 10px;")

          %a.my-button(data-label="New Expense" data-icon="plus" data-color="success" data-toggle="modal" data-target="#expense-modal" ng-click="table.newExpense()")

    .col.col-md-3
      %my-input(data-label="Description" data-icon="info-sign")
        %input(type="text" ng-model="filters.description")

      %my-input(data-label="Comment" data-icon="comment")
        %input(type="text" ng-model="filters.comment")

    .col.col-md-3
      %my-input(data-label="Expensed At From" data-icon="calendar")
        %input.my-datetime-picker(type="text" ng-model="filters.expensed_at.gteq")

      %my-input(data-label="Amount From" data-icon="usd")
        %input(type="text" ng-model="filters.amount.gteq")

    .col.col-md-3
      %my-input(data-label="Expensed At Until" data-icon="calendar")
        %input.my-datetime-picker(type="text" ng-model="filters.expensed_at.lteq")

      %my-input(data-label="Amount Until" data-icon="usd")
        %input(type="text" ng-model="filters.amount.lteq")

  .row.border-bottom
    .col.col-md-12

  .row
    .col.col-md-12
      %table.table.table-hover
        %thead
          %tr
            %th(style="width: 50px;") ID
            %th(style="width: 175px;") Expensed At
            %th(style="width: 300px;") Description
            %th Comment
            %th(style="width: 100px;") Amount

        %tbody
          %tr.cursor-pointer(data-toggle="modal" data-target="#expense-modal" ng-repeat="expense in table.expenses" ng-click="table.editExpense(expense, $index)")
            %td(ng-bind="expense.id")
            %td(ng-bind="expense.expensed_at | date: 'yyyy-MM-dd h:mm a'")
            %td(ng-bind="expense.description")
            %td(ng-bind="expense.comment")
            %td(ng-bind="expense.amount")

  #expense-modal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog
      %form.modal-content(ng-submit="modal.saveExpense()")
        .modal-header
          %a.close(data-dismiss="modal") &times;
          %h4.modal-title Expense

        .modal-body
          %my-input(data-label="Expensed" data-icon="calendar")
            %input.my-datetime-picker(type="text" ng-model="modal.expense.expensed_at")

          %my-input(data-label="Description" data-icon="info-sign")
            %input(type="text" placeholder="e.g. Coffee at Dunkin Donuts" ng-model="modal.expense.description")

          %my-input(data-label="Amount" data-icon="usd")
            %input(type="text" ng-model="modal.expense.amount")

          %my-input(data-label="Comment" data-icon="comment")
            %input(type="text" placeholder="e.g. Needed caffeine before meeting" ng-model="modal.expense.comment")

        .modal-footer
          %a.my-button(data-label="Close" data-icon="remove" data-dismiss="modal")

          %button.my-button(data-label="Save" data-icon="cloud-upload" data-color="success")

          %a.my-button(data-label="Delete" data-icon="trash" data-color="danger" ng-hide="modal.isNew" ng-click="modal.deleteExpense(modal.index)" data-dismiss="modal")
