%div(ng-controller="ExpensesController" ng-init="table.filterExpenses()")
  %form.row(ng-submit="table.filterExpenses()")
    .col.col-md-3
      %my-form-input(data-label="ID" data-icon="th-list")
        %input(type="text" ng-model="filters.q.id_eq")

      %my-form-select(data-label="Sort By")
        %select(ng-model="filters.s[0].name")
          %option(value="id") ID
          %option(value="amount") Amount
          %option(value="expensed_at") Expensed At

      %my-form-select(data-label="Direction")
        %select(ng-model="filters.s[0].dir")
          %option(value="asc") Ascending
          %option(value="desc") Descending

    .col.col-md-3
      %my-form-input(data-label="Description" data-icon="info")
        %input(type="text" ng-model="filters.q.description_cont")

      %my-form-input(data-label="Comment" data-icon="comment")
        %input(type="text" ng-model="filters.q.comment_cont")

      %my-form-input(data-label="Search" data-icon="search")
        %input(type="text" ng-model="filters.q.fulltext")

    .col.col-md-3
      %my-form-input(data-label="Amount From" data-icon="usd")
        %input(type="text" ng-model="filters.q.amount_gteq")

      %my-form-input(data-label="Amount Until" data-icon="usd")
        %input(type="text" ng-model="filters.q.amount_lteq")

    .col.col-md-3
      %my-form-input(data-label="Expensed At From" data-icon="calendar")
        %input.my-datetime-picker(type="text" ng-model="filters.q.expensed_at_gteq")

      %my-form-input(data-label="Expensed At Until" data-icon="calendar")
        %input.my-datetime-picker(type="text" ng-model="filters.q.expensed_at_lteq")

      .form-group
        %label &nbsp;
        .input-group
          %button.my-form-button(data-label="Filter List" data-icon="filter" data-color="primary" style="margin-right: 10px;" my-form-loading="table.loading")

          %a.my-form-button(data-label="New Expense" data-icon="plus" data-color="success" data-toggle="modal" data-target="#expense-modal" ng-click="table.newExpense()")

  .row.border-bottom
    .col.col-md-12

  .row
    .col.col-md-12
      %table.table.table-hover
        %thead
          %tr
            %th(style="width: 50px;") ID
            %th(style="width: 175px;") Expensed At
            %th(style="width: 300px;") Description
            %th Comment
            %th(style="width: 100px;") Amount

        %tbody
          %tr.cursor-pointer(data-toggle="modal" data-target="#expense-modal" ng-repeat="expense in table.expenses" ng-click="table.editExpense(expense, $index)")
            %td(ng-bind="expense.id")
            %td(ng-bind="expense.expensed_at | date: 'yyyy-MM-dd h:mm a'")
            %td(ng-bind="expense.description")
            %td(ng-bind="expense.comment")
            %td(ng-bind="expense.amount | currency")

  #expense-modal.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog
      %form.modal-content(ng-submit="modal.saveExpense(modal.expense.id)")
        .modal-header
          %a.close(data-dismiss="modal") &times;
          %h4.modal-title Expense

        .modal-body
          %my-form-input(data-label="Expensed" data-icon="calendar")
            %input.my-datetime-picker(type="text" ng-model="modal.expense.expensed_at")

          %my-form-input(data-label="Description" data-icon="info")
            %input(type="text" placeholder="e.g. Coffee at Dunkin Donuts" ng-model="modal.expense.description")

          %my-form-input(data-label="Amount" data-icon="usd")
            %input(type="text" ng-model="modal.expense.amount")

          %my-form-input(data-label="Comment" data-icon="comment")
            %input(type="text" placeholder="e.g. Needed caffeine before meeting" ng-model="modal.expense.comment")

        .modal-footer
          %a.my-form-button(data-label="Close" data-icon="times" data-dismiss="modal")

          %button.my-form-button(data-label="Save" data-icon="cloud-upload" data-color="success")

          %a.my-form-button(data-label="Delete" data-icon="trash-o" data-color="danger" ng-show="modal.expense.id" data-dismiss="modal" ng-click="modal.deleteExpense(modal.expense.id, modal.index)")
